@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

.product{
    font-family: 'Inter', sans-serif;
    padding: 15px;
    .divImg{
        img{
            max-width: 100%;
        }
    }
    .pFunko{
        color: #7D5A94;
        font-weight: bold;
        margin-bottom: 0;
    }
    .pName{
        font-size: 95%;
        margin-bottom: 5px !important;
    }
    .pCuota{
        font-size: 85%;
        color: #505050;
        margin-bottom: 0;
    }
    .bold{
        font-weight: bold;
    }
    .price{
        font-size: 150%;
        margin-bottom: 0;
    }
    .btnCart{
        border: 2px solid #76B043;
        border-radius: 6px;
    }
    .offer{
        text-decoration: line-through;
        color: #8C8C8C;
    }
    .newPrice{
        color: red;
        font-weight: bold;
    }
    .noStock{
        color: red;
        font-weight: bold;
        font-size: 120%;
    }
    .btnNoStock{
        padding: 10px 15px;
        border: 2px solid #000000;
        background-color: white;
        box-shadow: 3px 1px 0px #000000;
        border-radius: 6px;
        font-weight: bold;
        letter-spacing: 2px;
    }

}


@media(max-width: 767px){
    .product{
        border-top: 1px solid #F0F0F0;
        .pName{
            margin-bottom: 10px;
        }
        .price{
            font-size: 130%;
        }
        .divImg{
            padding-right: 0px;
        }
    }
}    