#products{
    padding: 30px 60px;
    @media(max-width: 767px){
        padding: 15px;
    }
    .page-link{
        border: 0px solid white;
        color: #8C8C8C;
        font-weight: bold;
        margin: 0 5px;
    }
    .selectedPage{
        border: 2px solid #F26522;
        color: black;
        border-radius: 12px;
    }
    .float{
        position:fixed;
        width: 120px;
        height: 60px;
        bottom:0px;
        right:40px;
        background-color:#FDB913;
        color:#FFF;
        border-radius: 120px 120px 0px 0px;
        text-align:center;
        font-size:30px;
        z-index:100;
    }
    
    .my-float{
        margin-top:16px;
    }
}